@font-face {
    font-family: 'Roboto';
    src: url('Roboto.eot');
    src: local('Roboto'), local('Roboto'),
        url('Roboto.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}